header {
  background-color: #363434;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.title {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: white;
  padding-left: 55px;
  text-decoration: none;
}
