.regex .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.regex .inputContainer {
  display: flex;
  flex-direction: row;
}

.regex .boxTitle {
  width: 40vw;
  text-align: center;
}

.regex .boxBody {
  font-family: monospace;
  background-color: #767676;
  color: white;
  width: 98%;
  padding-left: 10px;
  height: 36px;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.regex .regexResult {
  margin-top: 40px;
  align-self: center;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  overflow-x: auto;
  border-radius: 10px;
  background-color: #3f3f3f;
  font-family: monospace;
  color: white;
  white-space: pre;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 45%;
}
