.rot {
  font-family: "Roboto Mono", monospace;
}

.rot .container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 6%;
}

.rot .boxTitle {
  width: 40vw;
  text-align: center;
}

.rot .inputContainer {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rot .boxBody {
  font-family: monospace;
  background-color: #767676;
  color: white;
  width: 98%;
  padding-left: 10px;
  height: 36px;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rot .boxBody::placeholder {
  color: DarkGray;
}

.rot button {
  font-family: "Roboto Mono", monospace;
  border: none;
  align-self: center;
  background-color: #3c3b3b;
  color: white;
  border-radius: 10px;
  padding: 8px;
  margin-left: 30px;
}

.rot button:hover {
  cursor: pointer;
}

.rot .buttonContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.rot .rotResult {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  overflow-x: auto;
  border-radius: 10px;
  background-color: #3f3f3f;
  height: 40vh;
  font-family: monospace;
  width: 50vw;
  color: white;
  white-space: pre;
  padding: 30px;
}

.rot .inputBox {
  margin-bottom: 50px;
}

.rot .rotResult::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.rot .rotResult::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.rot .rotResult::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.rot .rots {
  font-size: 20px;
}
